#nav-button, #nav-button:after, #nav-button:before {
	border-color: white;
}
.detail {
	display: flex;
}
.detail .head, .detail .body {
	width: 50%;
	position: relative;
}
.detail .head {
	background-color: #6484c6;
	min-height: 1500px;
}
.detail .head > h1 {
	color: white;
	position: relative;
	left: 20%;
	margin-top: 94px;
	width: 80%;
}
.detail .head > div {
	box-shadow: 0px 18px 18px 0 rgba(93, 93, 93, 0.4);
	z-index: 5;
}
.detail .head .img {
	width: auto !important;
  	height: 426px;
  	background-color: #464646;
  	position: absolute;
  	right: -60px;
  	left: 20%;
}
.detail .head .img .item {
	position: relative;
	height: 426px;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.detail .head .img .item .love-wrapper {
	position: absolute;
	bottom: 65px; left: 20px;
}
.detail .head .img .btn {
	position: absolute;
	bottom: 20px; left: 20px;
	font-size: 12px;
	padding: 8px 10px;
}
.detail .head .img .owl-nav {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}
.detail .head .img .owl-nav .owl-prev {
	position: absolute;
	left: 12px; top: 50%;
	transform: translateY(-100%);
}
.detail .head .img .owl-nav .owl-next {
	position: absolute;
	right: 12px; top: 50%;
	transform: translateY(-100%);
}
.detail .head .img .owl-nav .owl-prev:hover, .detail .head .img .owl-nav .owl-next:hover {
	background: none;
}
.detail .head .img .owl-nav .owl-prev span, .detail .head .img .owl-nav .owl-next span {
	font-size: 40px;
	color: white;
}
.detail .head .img .owl-dots {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.detail .head .img .owl-dots span {
	border-radius: 0;
	width: 16px;
	height: 2px;
}
.detail .map {
	height: 620px;
	background-color: #464646;
	position: absolute;
	right: -60px;
  	left: 20%;
  	transform: translateY(82%);
}
.detail .map .display {
	height: 100%;
}
.detail .map .desc {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.detail .map .desc a {
	position: absolute;
	right: 20px;
	top: -20px;
}
.detail .map .desc h1 {
	margin: 0 30px 20px 30px;
	font-size: 24px;
}
.detail .map .desc p {
	margin: 0 30px 8px 30px;
}
.detail .map .desc .review {
	margin: 0 30px;
	font-weight: bold;
}
.detail .map .desc .review img {
	width: 12px;
	height: 12px;
	vertical-align: baseline;
}
.detail .map .desc .review .rating {
	color: #538acc;
	margin-right: 4px;
}
.detail .map .desc .review .count {
	margin-left: 16px;
}
.detail .body p:first-child {
	padding-top: 180px;
}
.detail .body p {
	font-size: 14px;
	padding: 0 130px;
	color: #2f2f2f;
}